#site-header {
    padding: 1.5em;
    background: $primary-bg;
    padding: 1.5em;
    ;
    top: 0px;
    position: fixed;
    left: 0px;
    right: 0;
    z-index: 99;


    .container {
        align-items: center;
        gap: $big-gap;
        direction: row;
        display: flex;
        justify-content: space-between;

    }

    nav {
        text-align: center;

        a {
            color: $text-color;
            text-decoration: none;
            margin: $small-gap;
            // transition: all 0.5s ease 0s;
            // scroll-behavior: smooth;

        }

        .button {
            border: 2px solid #fff;
            background: transparent;
            display: inline-block;
            margin-left: 48px;


        }
    }
}

@media (max-width: 768px) {
    #site-header {
        .container {
            flex-direction: column;

            img {
                justify-content: center;
            }
        }

        nav {
            .button {
                display: none;
            }
        }
    }
}