#site-header {
    padding: 1.5em;
    background: $primary-bg;
    padding: 1.5em;
    top: 0px;
    position: fixed;
    left: 0px;
    right: 0;
    z-index: 99;


    .container {
        align-items: center;
        gap: $big-gap;
        direction: row;
        display: flex;
        justify-content: space-between;



        .menu {
            text-align: center;

            a {
                color: $text-color;
                text-decoration: none;
                margin: $small-gap;

            }

            .button {
                border: 2px solid #fff;
                background: transparent;
                display: inline-block;
                margin-left: 48px;


            }
        }
        #hamburger {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    #site-header {
        .container {
            flex-direction: column;

            img {
                justify-content: center;
            }
        

        .menu {
            .button {
                display: none;
            }
        }}
    }
}

@media (max-width: 400px) {
    #site-header {
        .container {
            flex-direction: unset;
            .menu {
                text-align: left;
                background: rgb(37, 37, 37);
                padding: 15px;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 85px;
                transform: translateX(-100%);

                a {
                    display: block;
                }

                .button {
                    display: none;
                }

                &.active {
                    transform: translateX(0);
                }
            }

            #hamburger {
                background: transparent;
                border: none;
                display: block;
                
                div {
                    width: 35px;
                    height: 3px;
                    background-color: $text-color;
                    margin: 6px 0;
                    
                }
            }

        }
    }
}