.intro-section {
    background: linear-gradient(180deg, #3A156A -15.09%, rgba(58, 21, 106, 0) 84.91%);

    .wrapper {
        max-width: 1100px;

        .intro-text {
            .heading {
                font-size: 60px;
                padding-top: 52px;
            }

            .description {
                font-size: 20px;
                max-width: 815px;
                margin: 0 auto;
            }

            .intro-button {
                background: rgba(84, 46, 134, 1);
                margin: 24px;
                margin-bottom: 64px;
            }

            img {
                max-width: 100%;
            }
        }
    }


}

@media (max-width: 768px) {
    .intro-section {
        .wrapper {
            .intro-text {
                img {
                    width: 95%;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .intro-section {
        .wrapper {
            
            .intro-text {
                button {
                    margin-bottom: 20px;
                }
                .intro-button {
                    margin-bottom: 20px;}

                img {
                    width: 95%;
                }
            
        }}
    }
}