.join-section {
    display: flex;
    background: linear-gradient(292.47deg, #3300B9 8.84%, #4000AD 39.51%, #9B0DD0 76.98%, #F274D0 95.97%);
div {
    width: 33.333%;
   box-sizing: border-box;
}.join-text {
        padding-top: 78px;
        padding-bottom: 82px;
        text-align: center;
        .heading {
            font-size: 36px;
        }
        .description {
            font-size: 18px;
            color: #FFFFFF;
        }
    
    }
}