.partners-section {
    padding: 120px;

    .container {
        background-color: rgba(41, 23, 81, 1);
        border-radius: 24px;
        padding: 64px 69px;

        .row {
            .outer-box {
                display: flex;
                padding-bottom: 31px;
                padding-top: 24px;
                a {
                    width: 20%;
                    box-sizing: border-box;
                }
            }
        }
    }
}