.roadmap-section {
    .timeline {
        .timeline-year {
            color: #FFFFFF;
        }
        .heading {
            font-size: 16px;
.title {
    color: $heading-color;
}
            li {
                
                    color: $text-color;
                
            }
        }
    }
}